@model string
<div class="modal fade" id="addPupilsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark-primary">
                <h5 id="modalTitle" class="modal-title light-green">Legg til elever</h5>
                <button type="button" class="btn float-end navbar-text-light-green" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <form asp-area="ClassManagement" asp-page="/Pupils/AddPupils" asp-route-returnurl="@Model" method="post">
                <div class="modal-body" style="max-height: 600px; overflow-y:auto;">
                    <div id="pupils">
                        <div id="pupil-0" class="row">
                            <div class="col">
                                <p class="text-muted mb-0">Fornavn</p>
                                <input type="text" name="[0].FirstName" class="form-control" aria-required="true" required />
                            </div>
                            <div class="col">
                                <p class="text-muted mb-0">Etternavn</p>
                                <input type="text" name="[0].LastName" class="form-control" aria-required="true" required />
                            </div>
                            <div class="col">
                                <p class="text-muted mb-0">Fødselsdato</p>
                                <input type="date" name="[0].BirthDate" class="form-control" aria-required="true" required />
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button type="button" class="btn-danger btn btn-sm" onclick="removeLastInputRow()"><i class="bi bi-dash-lg"></i></button>
                        <button id="addPupil" type="button" class="btn-primary btn btn-sm" onclick="addPupilInput()"><i class="bi bi-plus-lg"></i></button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                    <button id="submitBtn" type="submit" class="btn btn-primary">Legg til elev</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function addPupilInput(){
        let pupilCount =  document.getElementById('pupils').children.length;
        let confirmButton = document.getElementById('submitBtn');        
        confirmButton.innerHTML = "Legg til elever";        
        let currentInputRow = document.getElementById(`pupil-${pupilCount-1}`);
        currentInputRow.insertAdjacentHTML("afterend", `<div id="pupil-${pupilCount}"" class="row"><div class="col"><input type="text" name="[${pupilCount}].FirstName" class="form-control" required aria-required="true"  /></div><div class="col"><input type="text" name="[${pupilCount}].LastName" class="form-control" required aria-required="true" /></div><div class="col"><input type="date" name="[${pupilCount}].BirthDate" class="form-control" required aria-required="true" /></div></div>`);
    }
    function removeLastInputRow(){
        let pupilCount = document.getElementById('pupils').children.length;
        
        if(pupilCount>1){
            if(pupilCount===2){
                document.getElementById('submitBtn').innerHTML = "Legg til elev";                
            }
            let lastInputRow = document.getElementById(`pupil-${pupilCount-1}`);
            lastInputRow.remove();
        }
    }

</script>