@using LetterKnowledgeAssessment.Models

<ul class="nav nav-pills flex-column small-sidenav">
    <li class="nav-item"><a class="nav-link nav-link-top @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index"><i class="bi-person-circle"></i> Brukerkonto</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword"><i class="bi bi-key-fill"></i> Passord</a></li>
</ul>
