@page
@model ErrorModel
@{
    ViewData["Title"] = "Feil";
}


<div class="card">
    <div class="card-body text-center">
        <h1 class="display-4 text-danger">Feil!</h1>
        <h2 class="display-5 text-danger">Noe gikk galt :(</h2>
        <p>
            Prøv det du ville gjøre en gang til, hvis feilen fortsatt oppstår ta kontakt <a href="mailto:andekvam@stud.ntnu.no?subject=Rapporter feilmelding">her</a>.
        </p>
    </div>
</div>
